.signup-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.signup-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
}

.form-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.form-group input:focus {
  border-color: lab(74.22% 19.69 50.94);
  box-shadow: 0 0 4px lab(61.42% 12.24 34.23);
}

.signup-button {
  padding: 12px;
  border-radius: 8px;
  border-color: lab(86.36% 9.54 33.04);
  background-color:  lab(81.78% 11.43 34.08);
  color: rgb(94, 89, 89);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-button:hover {
  background-color: lab(62.9% 21.21 51.62);
}
